
# Built files
/target/

# Rust specific files
**/*.rs.bk      
Cargo.lock        
**/*.rs.bk        
*.log             
Cargo.lock


# IDE and editor specific files
.vscode/         
.idea/            
*.sublime-workspace  
*.sublime-project    

# Operating System files
.DS_Store        
Thumbs.db         
*.swp             
*~               

# Other temporary files
*.txt
*.txt.gz
*.tmp
*.temp
*.gz             
*.zip            

# Coverage reports
/coverage/

# Cargo and Rust related files
/.cargo/registry/*
/.cargo/

# Ignore the Rust analyzer configuration
rust-analyzer.json

